.form-project {
    width: 80%;
    margin: 0 auto;
    padding: 10%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.title-form {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.label-formsAPI {
    font-weight: bold;
    margin-top: 10px;
}

.errormsg-form-project {
    color: red;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; /* Ajustement pour la disposition des boutons */
}

.btn-submit,
.btn-update,
.btn-delete {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-submit {
    background-color: #4caf50;
    color: #fff;
}

.btn-update {
    background-color: #ffc107;
    color: #fff;
    margin-right: 10px; /* Espacement entre les boutons */
}

.btn-delete {
    background-color: #f44336;
    color: #fff;
}
