.page {
    display: flex;
    flex-direction: column ;
    justify-content:flex-start;
    width:99.85%;
    background: white;
    border:1px solid black;
}

@media screen and (max-width: 768px) {
    .page {
        width:99.5%;
    }
}

